openapi: 3.0.3
info:
  title: School Management System API
  description: API documentation for the School Management System
  version: 1.0.0
  contact:
    name: Alemdar Salmoor
    email: alemdarsalmoor@gmail.com
servers:
  - url: https://soar.alemsalmoor.com/api
    description: Production server
  - url: http://localhost:5111/api
    description: Development server

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Error:
      type: object
      properties:
        ok:
          type: boolean
          example: false
        message:
          type: string
        errors:
          type: array
          items:
            type: string
        data:
          type: object

    RegisterRequest:
      type: object
      required:
        - username
        - password
        - email
        - role
      properties:
        username:
          type: string
          minLength: 3
          maxLength: 20
        password:
          type: string
          minLength: 8
          maxLength: 100
        email:
          type: string
          format: email
        role:
          type: string
          enum: [superadmin, schoolAdmin]
        schoolId:
          type: string
          description: Required only when role is schoolAdmin

    LoginRequest:
      type: object
      required:
        - username
        - password
      properties:
        username:
          type: string
        password:
          type: string

    AuthResponse:
      type: object
      properties:
        ok:
          type: boolean
          example: true
        data:
          type: object
          properties:
            id:
              type: string
            username:
              type: string
            email:
              type: string
            role:
              type: string
            longToken:
              type: string

    School:
      type: object
      properties:
        _id:
          type: string
        name:
          type: string
        address:
          type: string
        profileInfo:
          type: object
          properties:
            email:
              type: string
              format: email
            phone:
              type: string

    CreateSchoolRequest:
      type: object
      required:
        - name
        - address
      properties:
        name:
          type: string
          minLength: 3
          maxLength: 100
        address:
          type: string
          minLength: 3
          maxLength: 250
        profileInfo:
          type: object
          properties:
            email:
              type: string
              format: email
            phone:
              type: string

    Classroom:
      type: object
      properties:
        _id:
          type: string
        name:
          type: string
        capacity:
          type: integer
          minimum: 1
        schoolId:
          type: string
        resources:
          type: array
          items:
            type: string

    CreateClassroomRequest:
      type: object
      required:
        - name
        - capacity
        - schoolId
      properties:
        name:
          type: string
        capacity:
          type: integer
          minimum: 1
        schoolId:
          type: string
        resources:
          type: array
          items:
            type: string

    Student:
      type: object
      properties:
        _id:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
          format: email
        schoolId:
          type: string
        classroomId:
          type: string
        dateOfBirth:
          type: string
          format: date
        transferHistory:
          type: array
          items:
            type: object
            properties:
              fromSchool:
                type: string
              toSchool:
                type: string
              date:
                type: string
                format: date-time
              reason:
                type: string

    CreateStudentRequest:
      type: object
      required:
        - firstName
        - lastName
        - email
        - schoolId
        - dateOfBirth
      properties:
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
          format: email
        schoolId:
          type: string
        classroomId:
          type: string
        dateOfBirth:
          type: string
          format: date

    PaginatedResponse:
      type: object
      properties:
        ok:
          type: boolean
        data:
          type: object
          properties:
            items:
              type: array
              items:
                type: object
            pagination:
              type: object
              properties:
                current:
                  type: integer
                limit:
                  type: integer
                total:
                  type: integer
                pages:
                  type: integer

paths:
  /auth/register:
    post:
      tags:
        - Authentication
      summary: Register a new user
      operationId: register
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '200':
          description: User registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: Invalid input or username/email already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/login:
    post:
      tags:
        - Authentication
      summary: Login user
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /school/createSchool:
    post:
      tags:
        - Schools
      summary: Create a new school
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSchoolRequest'
      responses:
        '200':
          description: School created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/School'
        '403':
          description: Unauthorized - Superadmin access required
        '422':
          description: Validation error

  /school/getSchool:
    get:
      tags:
        - Schools
      summary: Get school by ID
      security:
        - BearerAuth: []
      parameters:
        - name: schoolId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: School details retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/School'
        '403':
          description: Unauthorized access
        '404':
          description: School not found

  /school/getAllSchools:
    get:
      tags:
        - Schools
      summary: Get all schools (paginated)
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: Schools retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '403':
          description: Unauthorized - Superadmin access required

  /classroom/createClassroom:
    post:
      tags:
        - Classrooms
      summary: Create a new classroom
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateClassroomRequest'
      responses:
        '200':
          description: Classroom created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Classroom'
        '403':
          description: Unauthorized access
        '422':
          description: Validation error

  /classroom/getClassroom:
    get:
      tags:
        - Classrooms
      summary: Get classroom by ID
      security:
        - BearerAuth: []
      parameters:
        - name: classroomId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Classroom details retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Classroom'
        '403':
          description: Unauthorized access
        '404':
          description: Classroom not found

  /classroom/getAllClassrooms:
    get:
      tags:
        - Classrooms
      summary: Get all classrooms for a school (paginated)
      security:
        - BearerAuth: []
      parameters:
        - name: schoolId
          in: query
          required: true
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: Classrooms retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  data:
                    type: object
                    properties:
                      classrooms:
                        type: array
                        items:
                          $ref: '#/components/schemas/Classroom'
                      pagination:
                        type: object
                        properties:
                          current:
                            type: integer
                          limit:
                            type: integer
                          total:
                            type: integer
                          pages:
                            type: integer
        '403':
          description: Unauthorized access
        '404':
          description: School not found

  /classroom/updateClassroom:
    put:
      tags:
        - Classrooms
      summary: Update classroom information
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - classroomId
              properties:
                classroomId:
                  type: string
                name:
                  type: string
                capacity:
                  type: integer
                  minimum: 1
                resources:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Classroom updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Classroom'
        '403':
          description: Unauthorized access
        '404':
          description: Classroom not found
        '422':
          description: Validation error

  /classroom/deleteClassroom:
    delete:
      tags:
        - Classrooms
      summary: Delete a classroom
      security:
        - BearerAuth: []
      parameters:
        - name: classroomId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Classroom deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  message:
                    type: string
                    example: "Classroom deleted successfully"
                  data:
                    $ref: '#/components/schemas/Classroom'
        '403':
          description: Unauthorized access
        '404':
          description: Classroom not found
        '422':
          description: Cannot delete classroom with students

  /classroom/manageResources:
    put:
      tags:
        - Classrooms
      summary: Manage classroom resources
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - classroomId
                - action
                - resources
              properties:
                classroomId:
                  type: string
                action:
                  type: string
                  enum: [add, remove, set]
                  description: Action to perform on resources
                resources:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Resources updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Classroom'
        '403':
          description: Unauthorized access
        '404':
          description: Classroom not found
        '422':
          description: Invalid action specified

  /classroom/manageCapacity:
    put:
      tags:
        - Classrooms
      summary: Update classroom capacity
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - classroomId
                - newCapacity
              properties:
                classroomId:
                  type: string
                newCapacity:
                  type: integer
                  minimum: 1
                  description: New capacity value (must be greater than current number of students)
      responses:
        '200':
          description: Capacity updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Classroom'
        '403':
          description: Unauthorized access
        '404':
          description: Classroom not found
        '422':
          description: New capacity is invalid or less than current student count

  /student/createStudent:
    post:
      tags:
        - Students
      summary: Create a new student
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStudentRequest'
      responses:
        '200':
          description: Student created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Student'
        '403':
          description: Unauthorized access
        '422':
          description: Validation error

  /student/transferStudent:
    put:
      tags:
        - Students
      summary: Transfer student to another school
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - studentId
                - toSchoolId
              properties:
                studentId:
                  type: string
                toSchoolId:
                  type: string
                reason:
                  type: string
      responses:
        '200':
          description: Student transferred successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Student'
        '403':
          description: Unauthorized access
        '404':
          description: Student or school not found

  /school/updateSchool:
    put:
      tags:
        - Schools
      summary: Update school information
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - schoolId
              properties:
                schoolId:
                  type: string
                name:
                  type: string
                  minLength: 3
                  maxLength: 100
                address:
                  type: string
                  minLength: 3
                  maxLength: 250
                profileInfo:
                  type: object
                  properties:
                    email:
                      type: string
                      format: email
                    phone:
                      type: string
      responses:
        '200':
          description: School updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/School'
        '403':
          description: Unauthorized access
        '404':
          description: School not found
        '422':
          description: Validation error

  /school/deleteSchool:
    delete:
      tags:
        - Schools
      summary: Delete a school
      security:
        - BearerAuth: []
      parameters:
        - name: schoolId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: School deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  message:
                    type: string
                    example: "School deleted successfully"
        '403':
          description: Unauthorized - Superadmin access required
        '404':
          description: School not found

  /student/getStudent:
    get:
      tags:
        - Students
      summary: Get student by ID
      security:
        - BearerAuth: []
      parameters:
        - name: studentId
          in: query
          required: true
          schema:
            type: string
          description: ID of the student to retrieve
      responses:
        '200':
          description: Student details retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Student'
        '403':
          description: Unauthorized access
        '404':
          description: Student not found

  /student/getAllStudents:
    get:
      tags:
        - Students
      summary: Get all students for a school (paginated)
      security:
        - BearerAuth: []
      parameters:
        - name: schoolId
          in: query
          required: true
          schema:
            type: string
          description: ID of the school to get students from
        - name: classroomId
          in: query
          required: false
          schema:
            type: string
          description: Optional - Filter students by classroom
        - name: page
          in: query
          schema:
            type: integer
            default: 1
          description: Page number for pagination
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
          description: Number of students per page
      responses:
        '200':
          description: Students retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  data:
                    type: object
                    properties:
                      students:
                        type: array
                        items:
                          $ref: '#/components/schemas/Student'
                      pagination:
                        type: object
                        properties:
                          current:
                            type: integer
                          limit:
                            type: integer
                          total:
                            type: integer
                          pages:
                            type: integer
        '403':
          description: Unauthorized access
        '404':
          description: School not found

  /student/updateStudent:
    put:
      tags:
        - Students
      summary: Update student information
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - studentId
              properties:
                studentId:
                  type: string
                firstName:
                  type: string
                lastName:
                  type: string
                email:
                  type: string
                  format: email
                classroomId:
                  type: string
      responses:
        '200':
          description: Student updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Student'
        '403':
          description: Unauthorized access
        '404':
          description: Student not found
        '422':
          description: Validation error

  /student/deleteStudent:
    delete:
      tags:
        - Students
      summary: Delete a student
      security:
        - BearerAuth: []
      parameters:
        - name: studentId
          in: query
          required: true
          schema:
            type: string
          description: ID of the student to delete
      responses:
        '200':
          description: Student deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Student'
        '403':
          description: Unauthorized access
        '404':
          description: Student not found

  /student/enrollStudent:
    put:
      tags:
        - Students
      summary: Enroll student in a classroom
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - studentId
                - classroomId
              properties:
                studentId:
                  type: string
                  description: ID of the student to enroll
                classroomId:
                  type: string
                  description: ID of the classroom to enroll in
      responses:
        '200':
          description: Student enrolled successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Student'
        '403':
          description: Unauthorized access
        '404':
          description: Student or classroom not found
        '422':
          description: Classroom is at full capacity or belongs to different school

security:
  - BearerAuth: []

tags:
  - name: Authentication
    description: User authentication operations
  - name: Schools
    description: School management operations
  - name: Classrooms
    description: Classroom management operations
  - name: Students
    description: Student management operations
